{include file='common/header'}
<!-- 倒计时+上期开始 -->
		<div name='daojishi' class="daojishi">
			<input type="hidden" id="wanfa" value='2'>
			<div name='jishiqi' class="jishiqi">
				<div><p>2018-06-12-034期</p></div>
							  <ul class="countdown">
        <li class="seperator"></li>
        <li> <span class="minutes">00</span>
            <p class="minutes_ref">分</p>
        </li>
        <li class="seperator">:</li>
        <li> <span class="seconds">00</span>
            <p class="seconds_ref">秒</p>
        </li>
    </ul>
			</div>
			<div name='zhuangjia' class="zhuangjia">
				<div><img src="__STATIC__/images/4.png" alt=""><div><p>我是小老虎</p><p>15万</p></div></div>
				<div>奖池累计：45,898,994</div>
				<div><button class="btn btn-primary btn-success btn-lg" id="shangzhuang" disabled="disabled">我要上庄</button></div>
			</div>
			<div name='shangqi' class="shangqi">
				<div name='' class="" id="shangqifont">上期开奖号为：</div>
				<div><img src="__STATIC__/images/4.png" alt=""></div>
				<div><img src="__STATIC__/images/4.png" alt=""></div>
				
			</div>
		</div>
	<!-- 倒计时+上期结束 -->
	<div name='touzhukuang' class="touzhukuang"></div>
		<!-- 游戏面板开始 -->
		<div name="content" class="content">
	<!-- 在线人数开始 -->
			<div name='xinxi' class='xinxi'>
				<p>当前在线<b>49</b>人</p>
				<div name='zaixian' class="zaixian scroll_content ">
				<div class="people"><img src="__STATIC__/images/timg.jpg" alt=""><div><p>我是小桑树</p><p>&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;河北</p><p>147.5万</p></div></div>
				<div class="people"><img src="__STATIC__/images/timg.jpg" alt=""><div><p>得到小玉树</p><p>&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;天津</p><p>147</p></div></div>
				<div class="people"><img src="__STATIC__/images/timg.jpg" alt=""><div><p>~小槐树</p><p>&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;北京</p><p>147万</p></div></div>
				<div class="people"><img src="__STATIC__/images/timg.jpg" alt=""><div><p>em小柳树</p><p>&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;河南</p><p>7.5万</p></div></div>
				<div class="people"><img src="__STATIC__/images/timg.jpg" alt=""><div><p>小杨树</p><p>&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;上海</p><p>47.5万</p></div></div>
				<div class="people"><img src="__STATIC__/images/timg.jpg" alt=""><div><p>小松树</p><p>&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;广州</p><p>14.5万</p></div></div>
				<div class="people"><img src="__STATIC__/images/timg.jpg" alt=""><div><p>是小怪物</p><p>&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;云南</p><p>17.2万</p></div></div>
				<div class="people"><img src="__STATIC__/images/timg.jpg" alt=""><div><p>小桑树是我</p><p>&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;新疆</p><p>11.9万</p></div></div>
				<div class="people"><img src="__STATIC__/images/timg.jpg" alt=""><div><p>我是小桑树</p><p>&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;河北</p><p>147.5万</p></div></div>
				<div class="people"><img src="__STATIC__/images/timg.jpg" alt=""><div><p>得到小玉树</p><p>&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;天津</p><p>147</p></div></div>
				<div class="people"><img src="__STATIC__/images/timg.jpg" alt=""><div><p>~小槐树</p><p>&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;北京</p><p>147万</p></div></div>
				<div class="people"><img src="__STATIC__/images/timg.jpg" alt=""><div><p>em小柳树</p><p>&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;河南</p><p>7.5万</p></div></div>
				<div class="people"><img src="__STATIC__/images/timg.jpg" alt=""><div><p>小杨树</p><p>&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;上海</p><p>47.5万</p></div></div>
				<div class="people"><img src="__STATIC__/images/timg.jpg" alt=""><div><p>小松树</p><p>&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;广州</p><p>14.5万</p></div></div>
				<div class="people"><img src="__STATIC__/images/timg.jpg" alt=""><div><p>是小怪物</p><p>&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;云南</p><p>17.2万</p></div></div>
				<div class="people"><img src="__STATIC__/images/timg.jpg" alt=""><div><p>小桑树是我</p><p>&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;新疆</p><p>11.9万</p></div></div>
				</div>
			</div>
		<!-- 在线人数结束 -->
		<!-- -->
			<div name='yazhuma' class='yazhuma'>
				<div class="choumaimg choumacurrent" money='10'><img src="__STATIC__/images/10.png" alt=""></div>
				<div class="choumaimg" money='50'><img src="__STATIC__/images/50.png" alt=""></div>
				<div class="choumaimg" money='100'><img src="__STATIC__/images/100.png" alt=""></div>
				<div class="choumaimg" money='500'><img src="__STATIC__/images/500.png" alt=""></div>
				<div class="choumaimg" money='1000'><img src="__STATIC__/images/1000.png" alt=""></div>
				<div class="choumaimg" money='10000'><img src="__STATIC__/images/10000.png" alt=""></div>
				<div><button class="btn btn-warning " id="xiazhubtn">投注</button></div>
			</div>
		<!--  -->
		<!-- 游戏面板开始 -->
			<div name='gamecontrol' class='gamecontrol'>
				<div number='1' class=""><span>14.02万</span><div class="number">1</div><img src="__STATIC__/images/one.png" alt="点击下注"></div>
				<div number='2'><span>14.1万</span><div class="number">2</div><img src="__STATIC__/images/two.png" alt="点击下注"></div>
				<div number='3'><span>14.02万</span><div class="number">3</div><img src="__STATIC__/images/three.png" alt="点击下注"></div>
				<div number='4'><span>14.02万</span><div class="number">4</div><img src="__STATIC__/images/four.png" alt="点击下注"></div>
				<div number='5'><span>14.02万</span><div class="number">5</div><img src="__STATIC__/images/five.png" alt="点击下注"></div>
				<div number='6'><span>14.02万</span><div class="number">6</div><img src="__STATIC__/images/six.png" alt="点击下注"></div>
			</div>
		<!-- 游戏面板结束 -->
		<!-- 历史结算栏开始 -->
			<div name='lishikj' class="lishikj">
				<div name='biaoti' class="biaoti"><img src="__STATIC__/images/lishijiesuan.png" alt=""></div>
				<div name='kaijiang' class="kaijiang scroll_content">
					<div name='jiang1' class="jiang">
						<div name='qihao' class="qihao" id="qihao"><p>&nbsp;&nbsp;&nbsp;&nbsp;20180622期开奖</p></div>
						<div class="jiang-logo"><img src="__STATIC__/images/6.png" alt=""></div>
						<div class="jiang-logo"><img src="__STATIC__/images/4.png" alt=""></div>
					</div>
					<div name='jiang2' class="jiang">
					<div name='qihao' class="qihao" id="qihao"><p>&nbsp;&nbsp;&nbsp;&nbsp;20180622期开奖</p></div>
						<div class="jiang-logo"><img src="__STATIC__/images/6.png" alt=""></div>
						<div class="jiang-logo"><img src="__STATIC__/images/4.png" alt=""></div>
					</div>
					<div name='jiang3' class="jiang">
					<div name='qihao' class="qihao" id="qihao"><p>&nbsp;&nbsp;&nbsp;&nbsp;20180622期开奖</p></div>
						<div class="jiang-logo"><img src="__STATIC__/images/6.png" alt=""></div>
						<div class="jiang-logo"><img src="__STATIC__/images/4.png" alt=""></div>
					</div>
					<div name='jiang3' class="jiang">
					<div name='qihao' class="qihao" id="qihao"><p>&nbsp;&nbsp;&nbsp;&nbsp;20180622期开奖</p></div>
						<div class="jiang-logo"><img src="__STATIC__/images/6.png" alt=""></div>
						<div class="jiang-logo"><img src="__STATIC__/images/4.png" alt=""></div>
					</div>
					<div name='jiang3' class="jiang">
					<div name='qihao' class="qihao" id="qihao"><p>&nbsp;&nbsp;&nbsp;&nbsp;20180622期开奖</p></div>
						<div class="jiang-logo"><img src="__STATIC__/images/6.png" alt=""></div>
						<div class="jiang-logo"><img src="__STATIC__/images/4.png" alt=""></div>
					</div>
						<div name='jiang3' class="jiang">
					<div name='qihao' class="qihao" id="qihao"><p>&nbsp;&nbsp;&nbsp;&nbsp;20180622期开奖</p></div>
						<div class="jiang-logo"><img src="__STATIC__/images/6.png" alt=""></div>
						<div class="jiang-logo"><img src="__STATIC__/images/4.png" alt=""></div>
					</div>
						<div name='jiang3' class="jiang">
					<div name='qihao' class="qihao" id="qihao"><p>&nbsp;&nbsp;&nbsp;&nbsp;20180622期开奖</p></div>
						<div class="jiang-logo"><img src="__STATIC__/images/6.png" alt=""></div>
						<div class="jiang-logo"><img src="__STATIC__/images/4.png" alt=""></div>
					</div>
						<div name='jiang3' class="jiang">
					<div name='qihao' class="qihao" id="qihao"><p>&nbsp;&nbsp;&nbsp;&nbsp;20180622期开奖</p></div>
						<div class="jiang-logo"><img src="__STATIC__/images/6.png" alt=""></div>
						<div class="jiang-logo"><img src="__STATIC__/images/4.png" alt=""></div>
					</div>
						<div name='jiang3' class="jiang">
					<div name='qihao' class="qihao" id="qihao"><p>&nbsp;&nbsp;&nbsp;&nbsp;20180622期开奖</p></div>
						<div class="jiang-logo"><img src="__STATIC__/images/6.png" alt=""></div>
						<div class="jiang-logo"><img src="__STATIC__/images/4.png" alt=""></div>
					</div>
						<div name='jiang3' class="jiang">
					<div name='qihao' class="qihao" id="qihao"><p>&nbsp;&nbsp;&nbsp;&nbsp;20180622期开奖</p></div>
						<div class="jiang-logo"><img src="__STATIC__/images/6.png" alt=""></div>
						<div class="jiang-logo"><img src="__STATIC__/images/4.png" alt=""></div>
					</div>
						<div name='jiang3' class="jiang">
					<div name='qihao' class="qihao" id="qihao"><p>&nbsp;&nbsp;&nbsp;&nbsp;20180622期开奖</p></div>
						<div class="jiang-logo"><img src="__STATIC__/images/6.png" alt=""></div>
						<div class="jiang-logo"><img src="__STATIC__/images/4.png" alt=""></div>
					</div>
						<div name='jiang3' class="jiang">
					<div name='qihao' class="qihao" id="qihao"><p>&nbsp;&nbsp;&nbsp;&nbsp;20180622期开奖</p></div>
						<div class="jiang-logo"><img src="__STATIC__/images/6.png" alt=""></div>
						<div class="jiang-logo"><img src="__STATIC__/images/4.png" alt=""></div>
					</div>
					<div name='jiang3' class="jiang">
					<div name='qihao' class="qihao" id="qihao"><p>&nbsp;&nbsp;&nbsp;&nbsp;20180622期开奖</p></div>
						<div class="jiang-logo"><img src="__STATIC__/images/6.png" alt=""></div>
						<div class="jiang-logo"><img src="__STATIC__/images/4.png" alt=""></div>
					</div>
				</div>
			</div>
		<!-- 历史结算栏结束 -->
		</div>
		<!-- 游戏面板结束 -->
	
	</div>
<!-- 页面容器结束 -->
<div class="xiazhuwanfa" id="xiazhuwanfa"><div><div id="wfbtn" class=""><button id="danya" class="btn btn-danger">单压</button>
<button class="btn btn-success" id="erzhonger">二中二</button>
<button class="btn btn-success" id="duizi">对子</button></div><div id="wfcontent" class=""></div></div></div>
{include file='common/footer'}