{include file='common/header'}
	<link rel="stylesheet" href="__STATIC__/css/styles.css" type="text/css">
<!-- 游戏面板开始 -->
		<div name="content" class="content">
		<div name='gerenzhongxin' class="gerenzhongxin">
			<div name='leftiframe' class="leftiframe" >
				<div>
					<div><img src="__STATIC__/images/timg.jpg" alt=""></div>
					<div>{$userinfo->nickName}</div>
				</div>
				<div>
					<div><span>账号：</span><span>{$userinfo->username}</span></div>
					<div><span>QQ：</span><span>{$userinfo->qq}</span></div>
					<div><span>余额：</span><span>{$userinfo->coin}</span></div>
					<div><span>未结余额：</span><span>{$userinfo->fcoin}</span></div>
					<div><span>最近登录：</span><span>{:date('Y-m-d H:i:s',$userinfo->loginTime)}</span></div>
					<!-- <div><span>我的上级代理：</span><span>小松鼠是阿狸</span></div> -->
					<div><button onclick="showBet()">下注记录</button><button onclick="Vrecharge()">充值</button><button onclick="withdraw()">提现</button><button onclick="window.location.href = '{:url(\'/logout\')}'">退出</button></div>
				</div>
			</div>
 
			<div name='rightiframe' class="rightiframe "  >
				<div id="bet" class="bet container scroll_content" style="display:none;" >
					<table class="table zebra "  width='79%'>
					   <thead class='bettr'>
					      <tr>
					      	 <td class="td1">时间</td>
					         <td class="td2">订单号</td>
					         <td class="td3">期数</td>
					         <td class="td4">投注号码</td>
					         <td class="td5">玩法</td>
					         <td class="td6">金额</td>
					         <td class="td7">盈亏</td>
					         <td class="td8">状态</td>
					      </tr>
					   </thead>

					   <tbody id="betList">
					     
					   </tbody>
					</table>

				</div>

			</div>
		</div>
		<!-- 个人中心结束 -->
	</div>
	</div>
<!-- 页面容器结束 -->

{include file='common/footer'}