{include file='common/header'}
<!-- 游戏面板开始 -->
		<div name="content" class="content">
		<div name='gerenzhongxin' class="gerenzhongxin">
			<div name='leftiframe' class="leftiframe" >
				<div>
					<div><img src="__STATIC__/images/timg.jpg" alt=""></div>
					<div>{$userinfo->nickName}</div>
				</div>
				<div>
					<div><span>账号：</span><span>{$userinfo->username}</span></div>
					<div><span>QQ：</span><span>{$userinfo->qq}</span></div>
					<div><span>余额：</span><span>{$userinfo->coin}</span></div>
					<div><span>未结余额：</span><span>{$userinfo->fcoin}</span></div>
					<div><span>最近登录：</span><span>{:date('Y-m-d H:i:s',$userinfo->loginTime)}</span></div>
					<div><span>我的上级代理：</span><span>小松鼠是阿狸</span></div>
					<div><button onclick="showBet()">下注记录</button><button onclick="Vrecharge()">充值</button><button>提现</button><button>退出</button></div>
				</div>
			</div>
 
			<div name='rightiframe' class="rightiframe scroll_content"  >
				<div id="bet" class="bet " style="display:none;" >
					<table class="table"  width='100%'>
					   <thead>
					      <tr>
					      	 <th>时间</th>
					         <th>订单号</th>
					         <th>期数</th>
					         <th>投注号码</th>
					         <th>玩法</th>
					         <th>金额</th>
					         <th>盈亏</th>
					         <th>状态</th>
					      </tr>
					   </thead>

					   <tbody id="betList">
					     
					   </tbody>
					</table>

				</div>

			</div>
		</div>
		<!-- 个人中心结束 -->
	</div>
	</div>
<!-- 页面容器结束 -->

{include file='common/footer'}